/*include margin and padding in the width*/

* {
	box-sizing: border-box;
}

/* make margin and padding zero for the entire page */

body {
	width: 80%;
	padding: 0px;
	margin: 0 auto;
	font-family: 'Slabo 27px', serif;
}

h1, 
h2, 
h3 {
	padding: 10px;
}
/* 
-----Header----
*/

.header {
	margin: 0 auto;
	width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	display: flex;
}

.header_logo {
	max-width: 70px;
	max-height: 70px;
	margin: 20px 0px;
}


.header_title {
	text-align: center;
}

/*
-----Navigation section---
*/

.nav {
	width: 100%;
	height: 40px;
	background-color: #ebecec;
	color: white;
}

nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	
}

nav > ul > li {
	padding: 10px 30px;
	font-size: 20px;
	margin: 0 auto;
}

a:link {
	text-decoration: none;
}

a:hover {
	/*background-color: lightgreen;*/
	text-decoration: underline;
}

/*
-----styling for main area----
*/

main {
	background-color: #c2ccd4;
}

img {
	width: 100%;
	padding: 10px;	
}

/*
------content styling---
*/

#about, 
#projects, 
#contact {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.content > p {
	padding: 10px;
}

#about > .row > .column {
	width: 100%;
}

#contact a img,i {
	padding : 20px;
}
/*
------footer styling----
*/

.footer {
	display: flex;
}

.footer > p {
	margin: 10px auto;
}

/*
-----Responsive media queries---
*/
@media screen and (min-width: 550px) {
	.column {
		width: 33.3333333%;
	}
}

/*----
need to work on how to get the hamburger 
icon when the viewport decrease below 350px
-----*/

@media screen and (max-width: 549px) {
	nav  ul  li {
		font-size: 0.95em;
		padding: 8px 15px;
	}
}



